h1 {
  color: peachpuff;
  font-size: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lifeCycleOfButterflyContainer {
  border: 1px solid #black;
  padding: 20px;
  background-color: #lightblue;
  width: 200px;
  border-radius: 10px;
}
