/* butterflyCard */
div {
  width: 50%;
  height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  color: peachpuff;
  font-size: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  color: red;
  font-size: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
#lifeCycleOfButterflyContainer {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: pink;
  max-width: 80%;
  border-radius: 10px;
}
img {
  max-width: 50%;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: Arial, sans-serif;
}
